<div class="card" style="width: 18rem;">
  <img src="https://education.cu-portland.edu/wp-content/uploads/sites/33/2014/11/math-teacher.jpg" class="card-img-top"
    alt="...">
  <div class="card-body">
    <h5 class="card-title">{{requiredTeacher.FirstName}} {{requiredTeacher.LastName}}</h5>
    <p class="card-text">
      <ul>
        <li>Age: {{requiredTeacher.Age}}</li>
        <li>Gender: {{requiredTeacher.Gender}}</li>
        <li>Subject: {{requiredTeacher.Subject}}</li>
      </ul>
    </p>
    <a href="/web/teachers" class="btn btn-primary">Go Back</a>
  </div>
</div>