<div class="container">
  <h1>Teachers Details</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Subject</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each teachers}}
      <tr>
        <th scope="row">{{formatIndex @index}}</th>
        <td><a href="/web/teachers/{{this.ID}}">{{this.FirstName}} {{this.LastName}}</a></td>
        <td>{{this.Age}}</td>
        <td>{{this.Gender}}</td>
        <td>{{this.Subject}}</td>
        <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>